# .dockerignore

# Ignore specific config files

.env
dockerfile # should be Dockerfile, ensure correct naming
flask

# Ignore all **pycache** directories at any level

\*\*/**pycache**/
**pycache**

# Ignore common Python-related artifacts

_.pyc
_.pyo
_.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage._
.cache
nosetests.xml
coverage.xml
_.cover
_.log

# Ignore version control and other tools

.git
.mypy_cache
.pytest_cache
.hypothesis
